# Python cache
__pycache__/
*.py[cod]
*.pkl
*.log

# Virtual environment
venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# Streamlit
.streamlit/

# Data files (optional, if large)
data/cleaned_data.csv
